environment:
  LJT_VERSION: 3.0.1
  LJT_64BIT_SDK: "https://sourceforge.net/projects/libjpeg-turbo/files/%LJT_VERSION%/libjpeg-turbo-%LJT_VERSION%-vc64.exe"
  LJT_32BIT_SDK: "https://sourceforge.net/projects/libjpeg-turbo/files/%LJT_VERSION%/libjpeg-turbo-%LJT_VERSION%-vc.exe"

install:
  - cmd: >-
      mkdir c:\installers

      mkdir c:\temp

      choco install -y InnoSetup

      curl -fSL -o c:\installers\libjpeg-turbo-vc64.exe "%LJT_64BIT_SDK%"

      c:\installers\libjpeg-turbo-vc64.exe /S

      curl -fSL -o c:\installers\libjpeg-turbo-vc.exe "%LJT_32BIT_SDK%"

      c:\installers\libjpeg-turbo-vc.exe /S

      set INCLUDE=c:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\include;c:\Program Files (x86)\Windows Kits\10\Include\10.0.18362.0\shared;c:\Program Files (x86)\Windows Kits\10\include\10.0.18362.0\ucrt;c:\Program Files (x86)\Windows Kits\10\include\10.0.18362.0\um

      set LIB=c:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\lib\amd64;c:\Program Files (x86)\Windows Kits\10\lib\10.0.18362.0\ucrt\x64;c:\Program Files (x86)\Windows Kits\10\Lib\10.0.18362.0\um\x64

      set PATH=c:\Program Files (x86)\Inno Setup 6;c:\msys64\usr\bin;c:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\amd64;c:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE;c:\Program Files (x86)\Windows Kits\10\bin\10.0.18362.0\x64;%PATH%

      set MSYSTEM=MINGW32

      bash -c "pacman --noconfirm -S unzip zip"

      git clone --depth=1 https://github.com/TurboVNC/buildscripts.git -b %APPVEYOR_REPO_BRANCH% c:/buildscripts

cache:
  - c:\msys64\home\%USERNAME%\.openjdk

build_script:
  - cmd: >-
      for /f %%i in ('"cygpath %CD%"') do set MINGWPATH=%%i

      bash c:/buildscripts/buildvnc -d %MINGWPATH% -b /c/vnc.nightly -v

      move c:\vnc.nightly\files\*.tar.gz .

      move c:\vnc.nightly\files\*.exe .

      move c:\vnc.nightly\files\*.html .

      move c:\vnc.nightly\log-windows.txt .

      zip TurboVNC-installers.zip *.exe

artifacts:
  - path: '*.tar.gz'
    name: Source tarball

  - path: '*.exe'
    name: TurboVNC Viewer

  - path: '*.zip'
    name: All TurboVNC installers

  - path: 'log-windows.txt'
    name: Build log

  - path: 'index.html'
    name: MD5 checksums

test: off

deploy:
  - provider: Webhook
    url: https://app.signpath.io/API/v1/616cafe1-280b-4605-ab3b-da1345d91f61/Integrations/AppVeyor?ProjectSlug=turbovnc&SigningPolicySlug=release-signing
    authorization:
      secure: 9vGndT9f79l6UdZ//rXtN7BURC6thUsokKoz9TfyRyfSU7pkTHEciklDMG2ScC/8NJlBweGH2D4jwegU1iTYBQ==
    on:
      appveyor_repo_tag: true
  - provider: S3
    access_key_id:
      secure: Z74OYogQ6bNV/I+6b5ZEXig74+6MW2WLER0v/bPM/uk=
    secret_access_key:
      secure: cyGZhHVCFwZ9jgf5lXoW69mVtECmqwx3eLo61ha8ueWbMYlHho7lwDXwVvxOFiCa
    bucket: turbovnc-pr
    region:
      secure: qSElYBgBRcEUf88M6Osthw==
    folder: $(APPVEYOR_REPO_BRANCH)/windows
    set_public: true
    remove_files: true
