XCOMM $XConsortium: hpLib.tmpl /main/10 1996/12/04 11:57:22 swick $

/*
 * HP shared library template
 */

#define SharedThreadReqs	/**/
#define SharedOldXReqs		$(XLIBONLY)
#define SharedX11Reqs		SharedThreadReqs
#define SharedXtReqs		$(XLIBONLY) $(SMLIB) $(ICELIB) SharedThreadReqs
#define SharedXawReqs		$(XMULIB) $(XTOOLLIB) $(XLIB)
#define SharedXmuReqs		$(XTOOLLIB) $(XLIB)
#define SharedXextReqs		$(XLIBONLY)
#define SharedXiReqs		$(XLIB)
#define SharedPexReqs		$(XLIBONLY) MathLibrary
#define SharedXtstReqs		$(XLIB)
#define SharedXieReqs		$(XLIBONLY)
#define SharedSMReqs		$(ICELIB)
#define SharedXpReqs		$(XLIB)

#define SharedXReqs		$(XTOOLLIB) $(XPLIB) $(XLIB) SharedThreadReqs
#define SharedXmReqs		SharedXReqs
#define SharedMrmReqs		$(XMLIB) SharedXReqs
#define SharedUilReqs		$(MRESOURCELIB) $(XMLIB) SharedXReqs

/* #define SharedPamReqs */
#define SharedTtReqs		$(XTOOLLIB) $(XLIB) SharedThreadReqs $(CXXLIB)
#define SharedDtSvcReqs		$(TTLIB) $(XMLIB) SharedXReqs -lm $(CXXLIB)
#define SharedDtMmdbReqs	$(DTSVCLIB) $(TTLIB) $(XMLIB) SharedXReqs -lm $(CXXLIB)
#define SharedDtSearchReqs	-lm
#define SharedDtWidgetReqs	$(DTSVCLIB) $(XMLIB) SharedXReqs -lm $(CXXLIB)
#define SharedDtHelpReqs	$(DTSVCLIB) $(XMLIB) SharedXReqs -lm
#define SharedDtPrintReqs	$(DTSVCLIB) $(DTHELPLIB) $(XMLIB) SharedXReqs -lm $(CXXLIB)
#define SharedDtTermReqs	$(DTHELPLIB) $(DTSVCLIB) $(XMLIB) SharedXReqs -lm
#define SharedDtMrmReqs		$(DTTERMLIB) $(DTPRINTLIB) $(DTHELPLIB) $(DTWIDGETLIB) $(MRESOURCELIB) $(XMLIB) SharedXReqs -lm
#define SharedDtMailReqs	$(DTHELPLIB) $(DTSVCLIB) $(XMLIB) SharedXReqs -lm $(CXXLIB)
#define SharedCsaReqs		$(DTSVCLIB) $(XMLIB) SharedXReqs -lm
