XCOMM $XConsortium: sgiLib.tmpl /main/2 1996/09/28 16:12:44 rws $

/*
 * SGI shared library template
 */
#define SharedXtReqs $(LDPRELIBS) $(XLIBONLY) -delay_load $(SMLIB) -delay_load $(ICELIB)
#define SharedXmuReqs $(LDPRELIBS) $(XTOOLONLYLIB)
#define SharedXawReqs -lw
#define SharedXpReqs $(LDPRELIBS) $(XLIB)

#define SharedXReqs $(XTOOLLIB) $(XPLIB) $(XLIB) -lgen
#define SharedXmReqs $(LDPRELIBS) SharedXReqs
#define SharedMrmReqs $(LDPRELIBS) $(XMLIB) SharedXReqs
#define SharedUilReqs $(LDPRELIBS) $(MRESOURCELIB) $(XMLIB) SharedXReqs
