XCOMM $XConsortium: WinLib.tmpl /main/3 1996/11/13 14:43:09 lehors $

#define SharedOldXReqs $(LDPRELIBS) $(XLIBONLY)
#define SharedXtReqs $(LDPRELIBS) $(XLIBONLY)
#define SharedXawReqs $(LDPRELIBS) $(XMULIB) $(XTOOLLIB) $(XLIB)
#define SharedXmuReqs $(LDPRELIBS) $(XTOOLLIB) $(XLIB)
#define SharedXextReqs $(LDPRELIBS) $(XLIBONLY)
#define SharedXiReqs $(LDPRELIBS) $(XLIB)
#define SharedPexReqs $(LDPRELIBS) $(XLIBONLY) MathLibrary
#define SharedXtstReqs $(LDPRELIBS) $(XLIB)
#define SharedXieReqs $(LDPRELIBS) $(XLIBONLY)
#define SharedSMReqs $(LDPRELIBS) $(ICELIB)
#define SharedXpReqs $(LDPRELIBS) $(XAUTHLIB) $(EXTENSIONLIB) $(XLIBONLY)
