XCOMM $XFree86: xc/config/cf/darwinLib.tmpl,v 1.19 2003/11/04 00:24:36 torrey Exp $
/*
 * Darwin/Mac OS X shared library template
 */

#ifndef FixupLibReferences
#define FixupLibReferences()						@@\
XMULIBONLY = -lXmu							@@\
XMULIB = $(XMULIBONLY) $(XTOOLLIB) $(XLIB)
#endif

#ifndef XawClientLibs
#define XawClientLibs $(XAWLIB) $(XMULIBONLY) $(XTOOLLIB) $(XPMLIB) $(EXTRAXAWCLIENTLIBS) $(XLIB)
#endif

/* Allow for libpthread, as overridden by OS definitions */
#if !defined(SharedX11Reqs)
#define SharedX11Reqs
#endif
#define SharedXlibi18nReqs $(LDPRELIB) $(XLIBONLY)

#define SharedXfontReqs     $(LDPRELIB) $(FONTSTUBLIB) GzipLibrary $(FREETYPE2LIB) -flat_namespace

#define SharedAppleWMReqs   $(LDPRELIB) $(XLIB)
#define SharedFontencReqs   $(LDPRELIB) GzipLibrary
#define SharedGLReqs        $(LDPRELIB) $(XLIB)
#define SharedGLUReqs       $(LDPRELIB) $(XLIB) $(GLXLIB)
#define SharedOSMesaReqs    $(LDPRELIB) $(XLIB) $(GLXLIB)
#define SharedSMReqs        $(LDPRELIB) $(ICELIB)
#define SharedXawReqs       $(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XPMLIB) $(EXTRAXAWREQS) $(XLIB)
#define SharedXaw7Reqs      $(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XPMLIB) $(XLIB)
#define SharedXaw6Reqs      $(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XLIB)
#define SharedXcursorReqs   $(LDPRELIB) $(XRENDERLIB) $(XLIB)
#define SharedXextReqs      $(LDPRELIB) $(XONLYLIB)
#define SharedXiReqs        $(LDPRELIB) $(XLIB)
#define SharedXmuReqs       $(LDPRELIB) $(XTOOLLIB) $(XLIB)
#define SharedXmuuReqs      $(LDPRELIB) $(XONLYLIB)
#define SharedXpReqs        $(LDPRELIB) $(XLIB)
#define SharedXpmReqs       $(LDPRELIB) $(XLIB)
#define SharedXrandrReqs    $(LDPRELIB) $(XRENDERLIB) $(XLIB)
#define SharedXrenderReqs   $(LDPRELIB) $(XLIB)
#define SharedXtReqs        $(LDPRELIB) $(XONLYLIB) $(SMLIB) $(ICELIB) -flat_namespace
#define SharedXtstReqs      $(LDPRELIB) $(XLIB)
#define SharedXvReqs        $(LDPRELIB) $(XLIB)
#define SharedDPSReqs       $(LDPRELIB) $(SMLIB) $(ICELIB) $(XTOOLLIB) $(XLIB)
#define SharedDPSTKReqs     $(LDPRELIB) $(SMLIB) $(ICELIB) $(XTOOLLIB) $(DPSLIB) $(XLIB)
#define SharedOldXReqs      $(LDPRELIB) $(XONLYLIB)
#define SharedpsresReqs     $(LDPRELIB) $(SMLIB) $(ICELIB) $(XTOOLLIB) $(XLIB)
#define SharedXResReqs	    $(LDPRELIB) $(XLIB)
#define SharedXfontcacheReqs $(LDPRELIB) $(XLIB)
#define SharedXineramaReqs  $(LDPRELIB) $(XLIB)
#define SharedXssReqs	    $(LDPRELIB) $(XLIB)
#define SharedXvMCReqs	    $(LDPRELIB) $(XLIB)
#define SharedXxf86miscReqs $(LDPRELIB) $(XLIB)
#define SharedXxf86vmReqs   $(LDPRELIB) $(XLIB)
#define SharedxkbfileReqs   $(LDPRELIB) $(XONLYLIB)
#define SharedxkbuiReqs	    $(LDPRELIB) $(XKBFILELIB) $(XONLYLIB)
#define SharedXfixesReqs    $(LDPRELIB) $(XLIB)
#define SharedXdamageReqs   $(LDPRELIB) $(XFIXESLIB) $(XLIB)
#define SharedXcompositeReqs $(LDPRELIB) $(XDAMAGELIB) $(XFIXESLIB) $(XLIB)
#define SharedXevieReqs     $(LDPRELIB) $(XLIB)
