XCOMM
XCOMM  GNU Hurd shared library template
XCOMM
XCOMM $XFree86: xc/config/cf/gnuLib.tmpl,v 1.5 2003/05/29 21:56:57 herrb Exp $
XCOMM

#ifndef FixupLibReferences
#define FixupLibReferences()						@@\
XMULIBONLY = -lXmu							@@\
XMULIB = $(XMULIBONLY) $(XTOOLLIB) $(XLIB)
#endif

#ifndef XawClientLibs
#define XawClientLibs $(XAWLIB) $(XMULIBONLY) $(XTOOLLIB) $(XPMLIB) $(EXTRAXAWCLIENTLIBS) $(XLIB)
#endif

#define SharedX11Reqs
#define SharedXlibi18nReqs $(LDPRELIB) $(XONLYLIB)
#define SharedOldXReqs	$(LDPRELIB) $(XONLYLIB)
#define SharedXtReqs	$(LDPRELIB) $(XONLYLIB) $(SMLIB) $(ICELIB)
#define SharedXaw6Reqs	$(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XLIB)
#define SharedXaw7Reqs	$(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XPMLIB) $(XLIB)
#define SharedXawReqs	$(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XPMLIB) $(EXTRAXAWREQS) $(XLIB)
#define SharedXmuReqs	$(LDPRELIB) $(XTOOLLIB) $(XLIB)
#define SharedXextReqs	$(LDPRELIB) $(XONLYLIB)
#define SharedXiReqs	$(LDPRELIB) $(XLIB)
#define SharedXtstReqs	$(LDPRELIB) $(XLIB)
#define SharedSMReqs	$(LDPRELIB) $(ICELIB)
