XCOMM $XConsortium: ibmLib.tmpl /main/21 1996/12/04 12:21:49 swick $

/*
 * AIX shared library template
 */

/*
 * IBM used an unusual shared object file name in some librares. 
 * Mimic this behavior to preserve compatibility with IBM's libraries.
 */
#ifndef IBMShr4Compatibility
#define IBMShr4Compatibility	YES
#endif

/*
 * Imake thinks lines with colons are the result of a broken cpp
 * inserting extra leading whitespace, so use ',' as a separator.
 */
#if IBMShr4Compatibility
      SHR4OBJLIBS = X11,Xt,oldX,Xm,Mrm,Uil
#endif

#if ThreadedX
#define SharedThreadReqs -lpthreads
#define SharedX11Reqs -lpthreads
#else
#define SharedThreadReqs /**/
#endif

#define SharedXextReqs	$(XLIBONLY)
#define SharedXmuReqs	$(XTOOLLIB) $(XLIB)
#define SharedOldXReqs	$(XLIBONLY)
#define SharedXtReqs	$(XLIBONLY) $(SMLIB) $(ICELIB) SharedThreadReqs
#define SharedXawReqs	$(XMULIB) $(XTOOLLIB) $(XLIB)
#define SharedXiReqs	$(XLIB)
#define SharedXtstReqs	$(XLIB)
#define SharedPexReqs	$(XLIBONLY)
#define SharedXieReqs	$(XLIBONLY)
#define SharedSMReqs	$(ICELIB)
#define SharedXpReqs	$(XLIB)

#define SharedXReqs	$(XTOOLLIB) $(XPLIB) $(XLIB) SharedThreadReqs
#define SharedXmReqs	$(LDPRELIBS) SharedXReqs
#define SharedMrmReqs	$(LDPRELIBS) $(XMLIB) SharedXReqs
#define SharedUilReqs	$(LDPRELIBS) $(MRESOURCELIB) $(XMLIB) SharedXReqs

/* #define SharedPamReqs */
#define SharedTtReqs	$(LDPRELIBS) SharedXReqs $(CXXLIB)
#define SharedDtSvcReqs	$(LDPRELIBS) $(TTLIB) $(XMLIB) SharedXReqs $(CXXLIB)
#define SharedDtMmdbReqs $(LDPRELIBS) $(DTSVCLIB) $(TTLIB) $(XMLIB) SharedXReqs $(CXXLIB)
#define SharedDtSearchReqs $(LDPRELIBS) -lisode
#define SharedDtWidgetReqs $(LDPRELIBS) $(DTSVCLIB) $(XMLIB) SharedXReqs 
#define SharedDtHelpReqs $(LDPRELIBS) $(DTSVCLIB) $(XMLIB) SharedXReqs -liconv
#define SharedDtPrintReqs $(LDPRELIBS) $(DTSVCLIB) $(DTHELPLIB) $(XMLIB) SharedXReqs
#define SharedDtTermReqs $(LDPRELIBS) $(DTHELPLIB) $(DTSVCLIB) $(XMLIB) SharedXReqs -liconv -lm
#define SharedDtMrmReqs $(LDPRELIBS) $(DTTERMLIB) $(DTPRINTLIB) $(DTHELPLIB) $(DTWIDGETLIB) $(MRESOURCELIB) $(XMLIB) SharedXReqs
#define SharedCsaReqs	$(LDPRELIBS) $(DTSVCLIB) $(XMLIB) SharedXReqs

#if !defined(UseInstalled) && !defined(UseInstalledX11) \
    && !defined(UseImports) && !defined(ImportX11)
   /* we want this to be defined only when building X */
# ifndef FixupLibReferences
# define FixupLibReferences()						@@\
DEPXTOOLLIB = _UseCat($(USRLIBDIR),$(TOOLKITSRC),/libXt.a)
# endif
#endif

/* The inbuf paramter to iconv(3) is "const char**", not "char **" */
ICONV_INBUF_DEFINE = -DICONV_INBUF_CONST

ICONVSYSLIB = -liconv

#if (OSMajorVersion > 4) || ((OSMajorVersion == 4) && (OSMinorVersion >= 2))
DYNLIBSYSLIB = -ldl
#endif

