XCOMM $Xorg: necLib.tmpl,v 1.3 2000/08/17 19:41:48 cpqbld Exp $

/*
 * NEC shared library template
 */

#ifndef SharedXlibRev
#define SharedXlibRev 4.10
#endif
#ifndef SharedOldXRev
#define SharedOldXRev 4.10
#endif
#ifndef SharedXtRev
#define SharedXtRev 4.10
#endif
#ifndef SharedXawRev
#define SharedXawRev 5.0
#endif
#ifndef SharedXmuRev
#define SharedXmuRev 4.10
#endif
#ifndef SharedXextRev
#define SharedXextRev 4.10
#endif
#ifndef SharedXinputRev
#define SharedXinputRev 4.10
#endif

#include <sv4Lib.tmpl>
