XCOMM platform:	$OpenBSD: OpenBSDLib.tmpl,v 1.6 2003/04/04 19:48:58 matthieu Exp $
XCOMM platform: $XFree86: xc/config/cf/OpenBSDLib.tmpl,v 1.10 2004/06/29 22:57:46 herrb Exp $
XCOMM

/* Shared libraries dependencies */
#if HasGcc && GccMajorVersion >= 3
# define SharedGLUReqs	$(LDPRELIB) $(XLIB) $(GLXLIB) -lsupc++
#endif 

/* Shared Library Revisions. Crank major on API Changes */

#if OverrideShlibRevs

# if OSMajorVersion == 3 && OSMinorVersion > 1 && OSMinorVersion <= 5
# ifndef SharedX11Rev
#  define SharedX11Rev 7.0
# endif
# ifndef SharedXThrStubRev
#  define SharedXThrStubRev 7.0
# endif
# ifndef SharedXextRev
#  define SharedXextRev 7.0
# endif
# ifndef SharedXssRev
#  define SharedXssRev 2.0
# endif
# ifndef SharedXxf86miscRev
#  define SharedXxf86miscRev 2.0
# endif
# ifndef SharedXxf86vmRev
#  define SharedXxf86vmRev 2.0
# endif
# ifndef SharedXxf86dgaRev
#  define SharedXxf86dgaRev 2.0
# endif
# ifndef SharedXxf86rushRev
#  define SharedXxf86rushRev 2.0
# endif
# ifndef SharedXvRev
#  define SharedXvRev 2.0
# endif
# ifndef SharedXvMCRev
#  define SharedXvMCRev 2.0
# endif
# ifndef SharedXineramaRev
#  define SharedXineramaRev 2.0
# endif
# ifndef SharedDpsRev
#  define SharedDpsRev 2.0
# endif
# ifndef SharedDpsTkRev
#  define SharedDpsTkRev 2.0
# endif
# ifndef SharedPSResRev
#  define SharedPSResRev 2.0
# endif
# ifndef SharedGluRev
#  if HasGcc && GccMajorVersion >= 3
    /* Gcc 3 changes the name mangling scheme on OpenBSD */
#   define SharedGluRev	3.0
#  else
#   define SharedGluRev 2.0
#  endif
# endif
# ifndef SharedGlxRev
#  define SharedGlxRev 2.0
# endif
# ifndef SharedGLwRev
#  define SharedGLwRev 2.0
# endif
# ifndef SharedXrenderRev
#  define SharedXrenderRev 2.1
# endif
# ifndef SharedXrandrRev
#  define SharedXrandrRev 3.0
# endif
# ifndef SharedXcursorRev
#  define SharedXcursorRev 1.0
# endif
# ifndef SharedXfontcacheRev
#  define SharedXfontcacheRev 2.0
# endif
# ifndef SharedXauRev
#  define SharedXauRev 7.0
# endif
# ifndef SharedXdmcpRev
#  define SharedXdmcpRev 7.0
# endif
# ifndef SharedXmuRev
#  define SharedXmuRev 7.0
# endif
# ifndef SharedXmuuRev
#  define SharedXmuuRev 2.0
# endif
# ifndef SharedOldXRev
#  define SharedOldXRev 7.0
# endif
# ifndef SharedXpRev
#  define SharedXpRev 7.0
# endif
# ifndef SharedXtRev
#  define SharedXtRev 7.0
# endif
# ifndef SharedXaRev
#  define SharedXaRev 2.0
# endif
# ifndef SharedXawRev
#  define SharedXawRev 9.0
# endif
# ifndef SharedXaw7Rev
#  define SharedXaw7Rev 8.0
# endif
# ifndef SharedXaw6Rev
#  define SharedXaw6Rev 7.1
# endif
# ifndef SharedXiRev
#  define SharedXiRev 7.0
# endif
# ifndef SharedXtstRev
#  define SharedXtstRev 7.0
# endif
# ifndef SharedICERev
#  define SharedICERev 7.1
# endif
# ifndef SharedSMRev
#  define SharedSMRev 7.0
# endif
# ifndef SharedXkeyRev
#  define SharedXkeyRev 7.0
# endif
# ifndef SharedFSRev
#  define SharedFSRev 7.0
# endif
# ifndef SharedFontRev
#  define SharedFontRev 2.0
# endif
# ifndef SharedFontEncRev
#  define SharedFontEncRev 2.0
# endif
# ifndef SharedXpmRev
#  define SharedXpmRev 5.0
# endif
# ifndef SharedFreetype2Rev
#  define SharedFreetype2Rev 11.1
# endif
# ifndef SharedExpatRev
#  define SharedExpatRev 4.0
# endif
# ifndef SharedXft1Rev
#  define SharedXft1Rev 1.2
# endif
# ifndef SharedXftRev
#  define SharedXftRev 3.0
# endif
# ifndef SharedFontconfigRev
#  define SharedFontconfigRev 1.0
# endif
# ifndef SharedXTrapRev
#  define SharedXTrapRev 7.0
# endif
# ifndef SharedPSResRev
#  define SharedPSResRev 2.0
# endif
# ifndef SharedXfixesRev
#  define SharedXfixesRev 3.0
# endif
# ifndef SharedXdamageRev
#  define SharedXdamageRev 1.0
# endif
# ifndef SharedXcompositeRev
#  define SharedXcompositeRev 1.0
# endif


# elif OSMajorVersion == 3 && OSMinorVersion >= 6 && OSMinorVersion <= 7

# ifndef SharedX11Rev
#  define SharedX11Rev 8.1
# endif
# ifndef SharedXThrStubRev
#  define SharedXThrStubRev 8.0
# endif
# ifndef SharedXextRev
#  define SharedXextRev 8.0
# endif
# ifndef SharedXssRev
#  define SharedXssRev 3.0
# endif
# ifndef SharedXxf86miscRev
#  define SharedXxf86miscRev 3.0
# endif
# ifndef SharedXxf86vmRev
#  define SharedXxf86vmRev 3.0
# endif
# ifndef SharedXxf86dgaRev
#  define SharedXxf86dgaRev 3.0
# endif
# ifndef SharedXxf86rushRev
#  define SharedXxf86rushRev 3.0
# endif
# ifndef SharedXvRev
#  define SharedXvRev 3.0
# endif
# ifndef SharedXvMCRev
#  define SharedXvMCRev 3.0
# endif
# ifndef SharedXineramaRev
#  define SharedXineramaRev 3.0
# endif
# ifndef SharedDpsRev
#  define SharedDpsRev 3.0
# endif
# ifndef SharedDpsTkRev
#  define SharedDpsTkRev 3.0
# endif
# ifndef SharedPSResRev
#  define SharedPSResRev 3.0
# endif
# ifndef SharedGluRev
#  if HasGcc && GccMajorVersion >= 3
    /* Gcc 3 changes the name mangling scheme on OpenBSD */
#   define SharedGluRev	4.0
#  else
#   define SharedGluRev 3.0
#  endif
# endif
# ifndef SharedGlxRev
#  define SharedGlxRev 3.1
# endif
# ifndef SharedOSMesaRev
#  define SharedOSMesaRev 6.0
# endif
# ifndef SharedGLwRev
#  define SharedGLwRev 3.0
# endif
# ifndef SharedXrenderRev
#  define SharedXrenderRev 3.1
# endif
# ifndef SharedXrandrRev
#  define SharedXrandrRev 4.0
# endif
# ifndef SharedXcursorRev
#  define SharedXcursorRev 2.2
# endif
# ifndef SharedXfontcacheRev
#  define SharedXfontcacheRev 3.0
# endif
# ifndef SharedXauRev
#  define SharedXauRev 8.0
# endif
# ifndef SharedXdmcpRev
#  define SharedXdmcpRev 8.0
# endif
# ifndef SharedXmuRev
#  define SharedXmuRev 8.0
# endif
# ifndef SharedXmuuRev
#  define SharedXmuuRev 3.0
# endif
# ifndef SharedOldXRev
#  define SharedOldXRev 8.0
# endif
# ifndef SharedXpRev
#  define SharedXpRev 8.0
# endif
# ifndef SharedXtRev
#  define SharedXtRev 8.0
# endif
# ifndef SharedXaRev
#  define SharedXaRev 3.0
# endif
# ifndef SharedXawRev
#  define SharedXawRev 10.0
# endif
# ifndef SharedXaw7Rev
#  define SharedXaw7Rev 9.0
# endif
# ifndef SharedXaw6Rev
#  define SharedXaw6Rev 8.1
# endif
# ifndef SharedXiRev
#  define SharedXiRev 8.0
# endif
# ifndef SharedXtstRev
#  define SharedXtstRev 8.0
# endif
# ifndef SharedICERev
#  define SharedICERev 8.1
# endif
# ifndef SharedSMRev
#  define SharedSMRev 8.0
# endif
# ifndef SharedXkeyRev
#  define SharedXkeyRev 8.0
# endif
# ifndef SharedFSRev
#  define SharedFSRev 8.0
# endif
# ifndef SharedFontRev
#  define SharedFontRev 4.0
# endif
# ifndef SharedFontEncRev
#  define SharedFontEncRev 3.0
# endif
# ifndef SharedXpmRev
#  define SharedXpmRev 6.0
# endif
# ifndef SharedFreetype2Rev
#  define SharedFreetype2Rev 13.1
# endif
# ifndef SharedExpatRev
#  define SharedExpatRev 5.0
# endif
# ifndef SharedXft1Rev
#  define SharedXft1Rev 3.0
# endif
# ifndef SharedXftRev
#  define SharedXftRev 5.0
# endif
# ifndef SharedFontconfigRev
#  define SharedFontconfigRev 2.0
# endif
# ifndef SharedXTrapRev
#  define SharedXTrapRev 8.0
# endif
# ifndef SharedPSResRev
#  define SharedPSResRev 3.0
# endif
# ifndef SharedXResRev
#  define SharedXResRev 2.0
# endif
# ifndef SharedxkbfileRev
#  define SharedxkbfileRev 2.0
# endif
# ifndef SharedxkbuiRev
#  define SharedxkbuiRev 2.0
# endif
# ifndef SharedXfixesRev
#  define SharedXfixesRev 3.0
# endif
# ifndef SharedXdamageRev
#  define SharedXdamageRev 1.0
# endif
# ifndef SharedXcompositeRev
#  define SharedXcompositeRev 1.0
# endif

#elif OSMajorVersion > 3 || OSMajorVersion == 3 && OSMinorVersion == 8

# ifndef SharedX11Rev
#  define SharedX11Rev 9.0
# endif
# ifndef SharedXThrStubRev
#  define SharedXThrStubRev 8.0
# endif
# ifndef SharedXextRev
#  define SharedXextRev 9.0
# endif
# ifndef SharedXssRev
#  define SharedXssRev 4.0
# endif
# ifndef SharedXxf86miscRev
#  define SharedXxf86miscRev 4.0
# endif
# ifndef SharedXxf86vmRev
#  define SharedXxf86vmRev 4.0
# endif
# ifndef SharedXxf86dgaRev
#  define SharedXxf86dgaRev 4.0
# endif
# ifndef SharedXxf86rushRev
#  define SharedXxf86rushRev 4.0
# endif
# ifndef SharedXvRev
#  define SharedXvRev 4.0
# endif
# ifndef SharedXvMCRev
#  define SharedXvMCRev 4.0
# endif
# ifndef SharedXineramaRev
#  define SharedXineramaRev 4.0
# endif
# ifndef SharedDpsRev
#  define SharedDpsRev 4.0
# endif
# ifndef SharedDpsTkRev
#  define SharedDpsTkRev 4.0
# endif
# ifndef SharedPSResRev
#  define SharedPSResRev 3.0
# endif
# ifndef SharedGluRev
#  if HasGcc && GccMajorVersion >= 3
    /* Gcc 3 changes the name mangling scheme on OpenBSD */
#   define SharedGluRev	5.0
#  else
#   define SharedGluRev 4.0
#  endif
# endif
# ifndef SharedGlxRev
#  define SharedGlxRev 4.0
# endif
# ifndef SharedOSMesaRev
#  define SharedOSMesaRev 7.0
# endif
# ifndef SharedGLwRev
#  define SharedGLwRev 4.0
# endif
# ifndef SharedXrenderRev
#  define SharedXrenderRev 4.0
# endif
# ifndef SharedXrandrRev
#  define SharedXrandrRev 5.0
# endif
# ifndef SharedXcursorRev
#  define SharedXcursorRev 3.0
# endif
# ifndef SharedXfontcacheRev
#  define SharedXfontcacheRev 4.0
# endif
# ifndef SharedXauRev
#  define SharedXauRev 9.0
# endif
# ifndef SharedXdmcpRev
#  define SharedXdmcpRev 9.0
# endif
# ifndef SharedXmuRev
#  define SharedXmuRev 9.0
# endif
# ifndef SharedXmuuRev
#  define SharedXmuuRev 4.0
# endif
# ifndef SharedOldXRev
#  define SharedOldXRev 9.0
# endif
# ifndef SharedXpRev
#  define SharedXpRev 9.0
# endif
# ifndef SharedXtRev
#  define SharedXtRev 9.0
# endif
# ifndef SharedXaRev
#  define SharedXaRev 4.0
# endif
# ifndef SharedXawRev
#  define SharedXawRev 11.0
# endif
# ifndef SharedXaw7Rev
#  define SharedXaw7Rev 10.0
# endif
# ifndef SharedXaw6Rev
#  define SharedXaw6Rev 9.0
# endif
# ifndef SharedXiRev
#  define SharedXiRev 9.0
# endif
# ifndef SharedXtstRev
#  define SharedXtstRev 9.0
# endif
# ifndef SharedICERev
#  define SharedICERev 8.0
# endif
# ifndef SharedSMRev
#  define SharedSMRev 8.0
# endif
# ifndef SharedXkeyRev
#  define SharedXkeyRev 9.0
# endif
# ifndef SharedFSRev
#  define SharedFSRev 8.0
# endif
# ifndef SharedFontRev
#  define SharedFontRev 4.0
# endif
# ifndef SharedFontEncRev
#  define SharedFontEncRev 3.0
# endif
# ifndef SharedXpmRev
#  define SharedXpmRev 7.0
# endif
# ifndef SharedFreetype2Rev
#  define SharedFreetype2Rev 13.0
# endif
# ifndef SharedExpatRev
#  define SharedExpatRev 5.0
# endif
# ifndef SharedXft1Rev
#  define SharedXft1Rev 4.0
# endif
# ifndef SharedXftRev
#  define SharedXftRev 6.0
# endif
# ifndef SharedFontconfigRev
#  define SharedFontconfigRev 2.0
# endif
# ifndef SharedXTrapRev
#  define SharedXTrapRev 9.0
# endif
# ifndef SharedPSResRev
#  define SharedPSResRev 3.0
# endif
# ifndef SharedXResRev
#  define SharedXResRev 3.0
# endif
# ifndef SharedxkbfileRev
#  define SharedxkbfileRev 3.0
# endif
# ifndef SharedxkbuiRev
#  define SharedxkbuiRev 3.0
# endif
# ifndef SharedXfixesRev
#  define SharedXfixesRev 4.0
# endif
# ifndef SharedXdamageRev
#  define SharedXdamageRev 2.0
# endif
# ifndef SharedXcompositeRev
#  define SharedXcompositeRev 2.0
# endif
# ifndef SharedxrxRev
#  define SharedxrxRev 7.0
# endif
# ifndef SharedxrxnestRev 
#  define SharedxrxnestRev 7.0
# endif

#endif /* OSMajorVersion .. */

#endif /* OverrideShlibRevs */

#include <bsdLib.tmpl>
