XCOMM $XConsortium: os2Lib.tmpl /main/1 1996/10/31 14:47:31 kaleb $



XCOMM $XFree86: xc/config/cf/os2Lib.tmpl,v 3.5 1997/01/05 11:49:40 dawes Exp $

/*
 * OS2/EMX shared library template
 */
#ifndef __EMX__
#error You must edit os2Lib.tmpl for your (non-EMX) OS/2 dev system
#endif

/* note these are special because of linking with link386 */
#ifdef NOT_EMX
#define SharedXtReqs $(LDPRELIB) $(XLIBONLY)
#define SharedXawReqs $(LDPRELIB) $(XMULIB) $(XTOOLLIB) $(XLIB)
#define SharedXmuReqs $(LDPRELIB) $(XTOOLLIB) $(XLIB)
#define SharedSMReqs $(LDPRELIB) $(ICELIB)
#define SharedXextReqs $(LDPRELIB) $(XLIBONLY)
#define SharedXiReqs $(LDPRELIB) $(XLIB)
#define SharedXieReqs $(LDPRELIB) $(XLIB)
#define SharedXtstReqs $(LDPRELIB) $(XLIB)
#define SharedOldXReqs $(LDPRELIB) $(XLIBONLY)
#define SharedPexReqs $(LDPRELIB) $(XLIBONLY) MathLibrary
#define SharedXpReqs $(LDPRELIBS) $(XLIB)
#else
#define SharedXtReqs ..\\..\\exports\\lib\\ ICE SM X11
#define SharedXawReqs ..\\..\\exports\\lib\\ Xmu Xt X11 Xext
#define SharedXmuReqs ..\\..\\exports\\lib\\ Xt X11 Xext
#define SharedSMReqs ..\\..\\exports\\lib\\ ICE
#define SharedXextReqs ..\\..\\exports\\lib\\ X11
#define SharedXiReqs ..\\..\\exports\\lib\\ X11 Xext
#define SharedXieReqs ..\\..\\exports\\lib\\ X11 Xext
#define SharedXtstReqs ..\\..\\exports\\lib\\ X11 Xext
#define SharedOldXReqs ..\\..\\exports\\lib\\ X11 Xext
#define SharedPexReqs ..\\..\\exports\\lib\\ X11 m
#define SharedXpReqs ..\\..\\exports\\lib\\ X11 Xext
#endif

/*
 * By setting this in your Imakefile, you can force using static libraries
 * to be linked with you app, rather than DLLs
 */
#ifndef LinkStatically
#define LinkStatically NO
#endif

#if LinkStatically
#define SDlibX11 -lX11_s
#define SDlibXExt -lXExt_s
#define SDlibXmu -lXmu_s
#define SDlibXt -lXt_s
#define SDlibXaw -lXaw_s
#define SDlibXi -lXi_s
#define SDlibXIE -lXIE_s
#define SDlibXtst -lXtst_s
#define SDlibPEX5 -lPEX5_s
#define SDlibXp -lXp_s
#else
#define SDlibX11 -lX11
#define SDlibXExt -lXExt
#define SDlibXmu -lXmu
#define SDlibXt -lXt
#define SDlibXaw -lXaw
#define SDlibXi -lXi
#define SDlibXIE -lXIE
#define SDlibXtst -lXtst
#define SDlibPEX5 -lPEX5
#define SDlibXp -lXp
#endif

/*
 * and now a little bit of magic for using imake without source tree; if we
 * are using shared libraries, we really do not need to depend on anything
 */
#if SharedLibXext
 DEPEXTENSIONLIB = 
    EXTENSIONLIB = _Use(SDlibXExt,-L$(EXTENSIONSRC)/lib SDlibXExt)
#endif
#if SharedLibX11
         DEPXLIB = 
            XLIB = $(EXTENSIONLIB) _Use(SDlibX11,-L$(XLIBSRC) SDlibX11)
#endif
#if SharedLibXmu
       DEPXMULIB = 
          XMULIB = _Use(SDlibXmu,-L$(XMUSRC) SDlibXmu) $(XLIB)
#ifndef XawClientLibs
#define XawClientLibs $(XAWLIB) $(XMULIB) $(XTOOLLIB) $(XLIB)
#endif
#endif
#if SharedOldX
      DEPOLDXLIB = 
         OLDXLIB = _Use(-loldX,-L$(OLDXLIBSRC) -loldX)
#endif
#if SharedLibXt
     DEPXTOOLLIB = 
        XTOOLLIB = _Use(SDlibXt,-L$(TOOLKITSRC) SDlibXt)
#endif
#if SharedLibXaw
       DEPXAWLIB = 
          XAWLIB = _Use(SDlibXaw,-L$(AWIDGETSRC) SDlibXaw)
#endif
#if SharedLibXi
        DEPXILIB = 
           XILIB = _Use(SDlibXi,-L$(XILIBSRC) SDlibXi)
#endif
#if SharedLibXTest
    DEPXTESTLIB = 
       XTESTLIB = _Use(SDlibXtst,-L$(EXTENSIONSRC)/lib/xtest SDlibXtst)
#endif
#if SharedLibPex
      DEPPEXLIB = 
         PEXLIB = _Use(SDlibPEX5,-L$(PEXLIBSRC) SDlibPEX5)
#endif
#if SharedLibXp
 DEPEXTENSIONLIB = 
    EXTENSIONLIB = _Use(SDlibXp,-L$(EXTENSIONSRC)/lib SDlibXp)
#endif
