XCOMM $Xorg: sgiLib.tmpl,v 1.3 2000/08/17 19:41:48 cpqbld Exp $




XCOMM $XFree86: xc/config/cf/sgiLib.tmpl,v 3.3tsi Exp $

/*
 * SGI shared library template
 */
#define SharedXtReqs $(LDPRELIBS) $(XONLYLIB) -delay_load $(SMLIB) -delay_load $(ICELIB)
#define SharedXmuReqs $(LDPRELIBS) $(XTOOLONLYLIB)
#define SharedXpReqs $(LDPRELIBS) $(XLIB)

#define SharedXReqs $(XTOOLLIB) $(XPLIB) $(XLIB) -lgen
#define SharedXmReqs $(LDPRELIBS) SharedXReqs
#define SharedMrmReqs $(LDPRELIBS) $(XMLIB) SharedXReqs
#define SharedUilReqs $(LDPRELIBS) $(MRESOURCELIB) $(XMLIB) SharedXReqs
