XCOMM $Xorg: WinLib.tmpl,v 1.3 2000/08/17 19:41:46 cpqbld Exp $



XCOMM $XFree86: xc/config/cf/WinLib.tmpl,v 1.4tsi Exp $

#define SharedOldXReqs $(LDPRELIBS) $(XONLYLIB)
#define SharedXtReqs $(LDPRELIBS) $(XONLYLIB)
#define SharedXawReqs $(LDPRELIBS) $(XMULIB) $(XTOOLLIB) $(EXTRAXAWREQS) $(XLIB)
#define SharedXmuReqs $(LDPRELIBS) $(XTOOLLIB) $(XLIB)
#define SharedXextReqs $(LDPRELIBS) $(XONLYLIB)
#define SharedXiReqs $(LDPRELIBS) $(XLIB)
#define SharedXtstReqs $(LDPRELIBS) $(XLIB)
#define SharedSMReqs $(LDPRELIBS) $(ICELIB)
#define SharedXpReqs $(LDPRELIBS) $(XAUTHLIB) $(XLIB)
#define SharedXpmReqs $(LDPRELIBS) $(XLIB)
