#include "rcstuff.h"

#define APPNAME "PuTTY"
#define APPDESC "SSH, Telnet and Rlogin client"

#include "win_res.rc2"

#ifndef NO_MANIFESTS
#ifdef _WIN64
1 RT_MANIFEST "putty64.mft"
#else
1 RT_MANIFEST "putty.mft"
#endif
#endif /* NO_MANIFESTS */
